<div class="general">
    <h1 class="title">INTI PERÚ SAC</h1>
    <p>Somos una empresa de venta de productos 100% orgánicos</p>

    <div class="historia">
        <h1>HISTORIA DE INTI PERÚ SAC</h1>
        <p>
            Inti Perú SAC es una empresa familiar fundada en diciembre de 
            2008 dedicada a la producción, procesamiento y comercialización de 
            productos orgánicos, principalmente productos de cereales andinos 
            (quinua, salvia hispánica, amaranto). Actualmente, Inti trabaja 
            con más de 1.440 pequeños agricultores de 200 comunidades de los Andes 
            peruanos en las provincias de Ayacucho, Apurímac y Cuzco, con más de 3.000 hectáreas de 
            tierra certificada orgánica para el cultivo, alimentos saludables 
            disponibles en todo el mundo.
        </p>
    </div>

    <div>
        <h1>PRINCIPIOS DE LA EMPRESA</h1>
        <div>
            <section>
                <h1>Misión</h1>
                <p>Promover, producir, desarrollar y comercializar productos orgánicos, 
                    naturales, nutritivos y de alta calidad de manera sustentable para promover
                    la salud de los consumidores; brindar 
                    oportunidades de desarrollo a nuestros colaboradores, 
                    comunidades y socios estratégicos.</p>
            </section>
        </div>
        <div>
            <section>
                <h1>Visión</h1>
                <p>Con el respaldo de productos, servicios y procesos de
                     alta calidad, se ha convertido en una empresa referente en 
                     la producción, procesamiento y comercialización de quinua, 
                     una de las cinco principales exportadoras de productos de granos andinos en el mundo, 
                    y siempre ha tenido un alto sentido social. 
                    responsabilidad y protección del medio ambiente.</p>
            </section>
        </div>
    </div>
</div>
