form{
    margin: 5px;

}

.row{
    width: 350px;
    margin-left: 2px;
}

mat-form-field{
    width: 80%;
}

.general-producto{
    display: flex;
    justify-content: flex-start;
    
}

.img-deproduci{
 width: 250px;
}