@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);

:host {
  height: 100vh;
  background-color: #f7faf4;
  display: block;
}
  // --background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
form {
  width: 90%;
  margin: 0px auto;
  margin-top: 0px;
  mat-form-field {
    width: 100%;
  }
  mat-card-actions {
    display: flex;
    justify-content: center;
  }
}


mat-card{
  margin-top: 30px;
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  form{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
  }
  .cuestions-grid span{
    color: #27f;
    cursor: pointer;
    margin-left: 15px;
   }
}

/* Large and up */
@media screen and (min-width: 64em) {
  form {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
  }
 mat-card-title{
    margin-left: 120px;
    color: #222;
  }




  .figure-general-login{
    margin-top: 0%;
    width: 160px;
    height: 120px;
    display: grid;
    align-items: center;
    margin-bottom: 10px;
   
    
   }
   .img-logo{
   
    width: 100%;
    height: 100%;
    margin-top: 0%;
   }
   .cuestions-grid{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-auto-flow: column;
    gap: 3px;
    margin-top: 5px;

   }
   .cuestions-grid span{
    color: #27f;
    cursor: pointer;
    margin-left: 15px;
   }
}




.figure-general-login{
 margin-top: 0%;
 width: 160px;
 height: 120px;
 display: grid;
 align-items: center;
margin-left: 8rem;
margin-bottom: 10px;

 
}


.img-logo{

 width: 100%;
 height: 100%;
 margin-top: 0%;
}

.cuestions-grid span{
  color: #27f;
  cursor: pointer;
  margin-left: 15px;
 }