// :host {
//   margin: 2px;
//   border: 1px solid black;
//   border-radius: 5px;
//   display: block;
// }
.crop-image{
    height: 250px;
    width: 100%;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;

      height: 100%;
      width: 100%;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  
  .btnVenta{
    background-color: rgb(255, 255, 255);
    box-shadow: none;
  }

  .btnVenta:hover{
    color: rgb(255, 145, 0);
  }


  .informacion-general{
    text-align: center;
    color: rgb(59, 38, 2)
  }

  .enviar-detalle{
    cursor: pointer;
}