<a mat-raised-button routerLink="create">Crear nuevo producto</a>
<table mat-table [dataSource]="products" class="mat-elevation-z8">
    
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let product">{{ product.productId }}</td>
  </ng-container>

  <ng-container matColumnDef="categoryid">
    <th mat-header-cell *matHeaderCellDef>CategoryId</th>
    <td mat-cell *matCellDef="let product">{{ product.categoryId }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let product">{{ product.name }}</td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>Imagen</th>
    <td mat-cell *matCellDef="let product">
      <img [src]="product.productImg" alt="product" />
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Descripción</th>
    <td mat-cell *matCellDef="let product">{{ product.descriptionProduct }}</td>
  </ng-container>

  <ng-container matColumnDef="stock">
    <th mat-header-cell *matHeaderCellDef>Stock</th>
    <td mat-cell *matCellDef="let product">{{ product.stock }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Precio</th>
    <td mat-cell *matCellDef="let product">{{ product.price }}</td>
  </ng-container>


  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let product">
      <a style="margin-right: 2%;" mat-raised-button [routerLink]="['edit', product.productId]">Editar</a>
      <button style=" margin-top: 2%;"
        mat-raised-button
        color="warn"
        (click)="deleteProduct(product._id)"
      >
        Eliminar
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
